<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="/Logic/Calculate.js"></script>
</head>
<body>
    <h1>Home Page</h1>
    <form>
        <label for="expense">Enter Expense</label>
        <input type="text" id="expense" name="expense" id="expense">
        <label for="members">Members</label>
        <input type="text" id="members" name="members" id="members">
        <input type="button" value="Divide" onclick="share()">
    </form>
    <p>Your individual total share is: <span id="share"></span></p>
    <a href="/create">Create</a>
    <a href="/groups">Groups</a>
</body>
</html>