<% layout('layouts/boilerplate') %>
    <h1>Create Group</h1>
    <form action="/home" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="Group[username]" id="username">
        <label for="groupName">Name of the Group:</label>
        <input type="text" name="Group[name]" id="groupName">
        <label for="members">Number of Members</label>
        <input type="number" name="Group[members]" id="members">
        <button type="button" onclick="NumMember()">Select</button>
        <div id="select"></div>
        <button type="submit">Save!</button>
    </form>

    <script>
        function NumMember(){
            const members= document.querySelector('#members').value;
            const select = document.querySelector('#select');
            
            while(select.firstChild){
                select.removeChild(select.firstChild);
            }
        
            for(let i=0 ; i<members ; i++){
                const input = document.createElement('input');
                input.setAttribute("type", "text");
                input.setAttribute("placeholder" , "name");
                input.setAttribute("name", "Group[membersName]")
                select.insertAdjacentElement('beforeend', input);
            }
        }
    </script>
